:root{
    --primary: ;
    --secondary: ;
    --tertiary: ;
    --light: ;
    --dark: ;
}

* {
    font-family: sans-serif;
}

body {
    border: 1px solid limegreen;
    width: 100%;
}

header {
    position: relative;
    border: 1px solid;
    height: 23vh
}

nav {
    position: absolute;
    border: 1px solid;
    height: 40%;
    width: 50%;
    right: 0%;
    top: 55%;
    text-align: center;
    padding: 0px;
}

nav ul {
    border: 1px solid;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}


nav ul li {
    border: 1px solid;
    display: inline;
    font-size: 150%;
    flex: 1 1 auto
}

header span {
    position: absolute;
    border: 1px solid;
    top: 30%;
    font-size: 8vh;
    padding: 10px 10px 10px 70px;
}

.cover{
    position: relative;
    border: 1px solid;
    height: 46vh;
 
}

#subtitle {
    position: absolute;
    border: 1px solid;
    right: 10%;
    bottom: 15%;
    padding: 10px 5px;
    font-size: 180%;
}

.card {
    position: relative;
    border-left: 1px solid;
    margin: 70px;
    padding-left: 30px;
    width: 66%;
    left: 20%;
}


.about-me {
    height: 30vh;
}

.about-me::before {
    content: 'About Me';
    font-size: 8vh;
    position: absolute;
    display: inline-block;
    left: -200px;
    width: 12vw
}

.my-work {
    height: 150vh
}

.my-work::before {
    content: 'My Work';
    font-size: 8vh;
    position: absolute;
    display: inline-block;
    left: -180px;
    width: 12vw
}

.contact-me {
    height: 30vh
}

.contact-me::before {
    content: 'Contact Me';
    font-size: 8vh;
    position: absolute;
    display: inline-block;
    left: -250px;
    width: 12vw
}







